# phylophlan_setup_database.py
taxa2core.txt
taxa2core_*.txt.bz2
# phylophlan_get_reference.py
taxa2genomes.txt
taxa2genomes_*.txt.bz2
# genbank genomes database
assembly_summary_genbank.txt
# markers databases
phylophlan/phylophlan_databases
# examples folders generated when running
## example 01 - S. aureus
phylophlan/examples/01_saureus/logs
phylophlan/examples/01_saureus/input_isolates
phylophlan/examples/01_saureus/s__Staphylococcus_aureus
phylophlan/examples/01_saureus/output_isolates
phylophlan/examples/01_saureus/input_references
phylophlan/examples/01_saureus/output_references
phylophlan/examples/01_saureus/graphlan/isolates_annotated.xml
phylophlan/examples/01_saureus/graphlan/saureus_isolates.png
## example 02 - Tree of life
phylophlan/examples/02_tol/logs
phylophlan/examples/02_tol/input_genomes
phylophlan/examples/02_tol/output_tol
## example 03 - Metagenomic
phylophlan/examples/03_metagenomic/logs
phylophlan/examples/03_metagenomic/ethiopian_mags.tar.bz2
phylophlan/examples/03_metagenomic/input_metagenomic
phylophlan/examples/03_metagenomic/output_metagenomic
phylophlan/examples/03_metagenomic/output_heatmap
## example 04 - E. coli
phylophlan/examples/04_ecoli/logs
phylophlan/examples/04_ecoli/s__Escherichia_coli
phylophlan/examples/04_ecoli/inputs
phylophlan/examples/04_ecoli/output_references
## example 05 - Campylobacter
phylophlan/examples/05_campylobacter/logs
phylophlan/examples/05_campylobacter/input_bins
phylophlan/examples/05_campylobacter/output_campylobacter
## test example
phylophlan/examples/test*
## other internal runs
phylophlan/paper_examples
phylophlan/pcopri
# settings files
.vscode
# temp files and folders
__pycache__
.nfs*
tmp/