[msa]
command_line = #program_name# #params# #input# #output#
version = -version
params = -quiet -maxiters 2
program_name = muscle3.8.1551
output = -out
input = -in

[db_aa]
command_line = #program_name# #params# #input# #output#
version = -version
params = -quiet
program_name = usearch9.2.64_i86linux32
output = -output
input = -makeudb_ublast

[map_dna]
command_line = #program_name# #params# #input# #database# #output#
version = -version
params = -outfmt 6 -evalue 1e-50
program_name = tblastn
output = -out
database = -query
input = -subject

[map_aa]
command_line = #program_name# #params# #threads# #input# #database# #output#
version = -version
threads = -threads
params = -quiet -evalue 1e-10 -maxaccepts 8 -maxrejects 32
program_name = usearch9.2.64_i86linux32
output = -blast6out
database = -db
input = -ublast

[trim]
command_line = #program_name# #params# #input# #output#
version = --version
params = -gappyout
program_name = trimal
output = -out
input = -in

[tree]
program_name = FastTree-2.1.9-SSE3
output = -out
params = -quiet -fastest -mlnni 4 -no2nd
program_name_parallel = FastTreeMP-2.1.9-SSE3
command_line = #program_name# #params# #output# #input#

[db_dna]
command_line = #program_name# #params# #input# #output#
version = -version
params = -dbtype prot
program_name = makeblastdb
output = -out
input = -in

