[markers_db]
program_name = usearch9.2.64_i86linux32
params = -quiet
input = -makeudb_ublast
output = -output
version = -version

[dna_map]
program_name = tblastn
params = -outfmt 6 -evalue 1e-50
input = -subject
database = -query
output = -out
version = -version

[aa_map]
program_name = usearch9.2.64_i86linux32
params = -quiet -evalue 1e-10 -maxaccepts 8 -maxrejects 32
threads = -threads
input = -ublast
database = -db
output = -blast6out
version = -version

[msa]
program_name = muscle3.8.1551
params = -quiet -maxiters 2
input = -in
output = -out
version = -version

[tree]
program_name = FastTree-2.1.9-SSE3
program_name_parallel = FastTreeMP-2.1.9-SSE3
params = -quiet -fastest -mlnni 4 -no2nd
output = -out

