[dna_map]
version = -version
database = -query
output = -out
params = -outfmt 6 -evalue 1e-50
program_name = tblastn
input = -subject

[markers_db]
version = -version
params = -quiet
program_name = usearch9.2.64_i86linux32
output = -output
input = -makeudb_ublast

[aa_map]
threads = -threads
version = -version
database = -db
output = -blast6out
params = -quiet -evalue 1e-10 -maxaccepts 8 -maxrejects 32
program_name = usearch9.2.64_i86linux32
input = -ublast

[trim]
version = --version
params = -gappyout
program_name = trimal
output = -out
input = -in

[msa]
version = -version
params = -quiet -maxiters 2
program_name = muscle3.8.1551
output = -out
input = -in

[tree]
program_name_parallel = FastTreeMP-2.1.9-SSE3
params = -quiet -fastest -mlnni 4 -no2nd
program_name = FastTree-2.1.9-SSE3
output = -out

