[map_dna]
version = -version
command_line = #program_name# #params# #input# #database# #output#
program_name = tblastn
input = -subject
output = -out
params = -outfmt "6 saccver qaccver pident length mismatch gapopen sstart send qstart qend evalue bitscore" -evalue 1e-50
database = -query

[map_aa]
version = -version
command_line = #program_name# #params# #threads# #input# #database# #output#
program_name = usearch9.2.64_i86linux32
input = -ublast
threads = -threads
output = -blast6out
params = -quiet -evalue 1e-10 -maxaccepts 8 -maxrejects 32
database = -db

[tree]
program_name_parallel = FastTreeMP-2.1.9-SSE3
output = -out
program_name = FastTree-2.1.9-SSE3
params = -quiet -fastest -mlnni 4 -no2nd
command_line = #program_name# #params# #output# #input#

[trim]
version = --version
program_name = trimal
input = -in
output = -out
params = -gappyout
command_line = #program_name# #params# #input# #output#

[msa]
version = -version
program_name = muscle3.8.1551
input = -in
output = -out
params = -quiet -maxiters 2
command_line = #program_name# #params# #input# #output#

[db_aa]
version = -version
program_name = usearch9.2.64_i86linux32
input = -makeudb_ublast
output = -output
params = -quiet
command_line = #program_name# #params# #input# #output#

